@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Righteous";
  src: url("/src/assets/fonts/Righteous-Regular.ttf");
}
@font-face {
  font-family: "Jost";
  src: url("/src/assets/fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}
@layer components{

body{
  background-color: black;
  color: white;
}

.match-active::before{
  content: "";
  position: absolute;
  height: 80%;
  width: .3rem;
  background-color: #c74aae;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.lineup-clip-path{
  clip-path: polygon(100% 34%, 68% 94%, 4% 94%, 44% 35%);
}

.summary-container{
  box-shadow: 0px 0px 1px 0px gray;
  padding: 4px 12px;
}

.teams-card{
  box-shadow: 0px 0px 8px 0px rgb(234, 135, 238) inset;
  background: linear-gradient(45deg, rgba(182, 131, 224, 0.585)0%, rgba(0,0,0,0.290) 74%, rgba(175, 160,178,0.400)98%);
  border-top: 2px solid rgb(234, 135, 238);
}
.create-btn-shadow{
  filter: drop-shadow(5px 6px 10px  rgba(234, 135, 238, 0.9));

}
.popover{
  background-color: rgba(50, 43, 51, 0.9);
}
/* speed dial */
.open-speed-dial{

 height: 7rem;
  transition: all .7s ease;
}
.close-speed-dial{
  height: 0;
  transition: all .7s ease;

}
/* modal */
.match-modal{
  animation: modal .2s linear .1s   forwards;
}

@keyframes modal {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
  
}


}